.vs

Azen.API/bin
Azen.API/logs
Azen.API/obj
Azen.API/tmp
Azen.API/wwwroot/azenweb/.vscode
Azen.API/wwwroot/azenweb/node_modules
Azen.API/wwwroot/azenweb/dist/bundle.js
Azen.API/wwwroot/azenweb/dist/bundle.js.map

Azen.API.Sockets/bin
Azen.API.Sockets/obj
Azen.API.Sockets/logs

Azen.API.Test/bin
Azen.API.Test/obj