

body{
    background-color: rgba(207, 247, 207, 0.781);
    
}

.grid-home{
    padding: 0px;
    margin: 0px;
    width: 100vw;
}

.row-navbar{
    padding: 0px;
    margin: 0px;
}

.col-aplicaciones{
    position: relative;
    top: 60px;
}


.zportal .col-lg-1, 
.zportal .col-lg-10,
.zportal .col-lg-11, 
.zportal .col-lg-12, 
.zportal .col-lg-2, 
.zportal .col-lg-3, 
.zportal .col-lg-4, 
.zportal .col-lg-5, 
.zportal .col-lg-6, 
.zportal .col-lg-7, 
.zportal .col-lg-8, 
.zportal .col-lg-9, 
.zportal .col-md-1, 
.zportal .col-md-10,
.zportal .col-md-11, 
.zportal .col-md-12, 
.zportal .col-md-2, 
.zportal .col-md-3, 
.zportal .col-md-4, 
.zportal .col-md-5, 
.zportal .col-md-6, 
.zportal .col-md-7, 
.zportal .col-md-8, 
.zportal .col-md-9, 
.zportal .col-sm-1, 
.zportal .col-sm-10,
.zportal .col-sm-11, 
.zportal .col-sm-12,
.zportal .col-sm-2, 
.zportal .col-sm-3, 
.zportal .col-sm-4,
.zportal .col-sm-5,
.zportal .col-sm-6, 
.zportal .col-sm-7, 
.zportal .col-sm-8, 
.zportal .col-sm-9, 
.zportal .col-xs-1, 
.zportal .col-xs-10, 
.zportal .col-xs-11, 
.zportal .col-xs-12, 
.zportal .col-xs-2, 
.zportal .col-xs-3, 
.zportal .col-xs-4, 
.zportal .col-xs-5, 
.zportal .col-xs-6, 
.zportal .col-xs-7,
.zportal .col-xs-8,
.zportal .col-xs-9{
    padding-left: 5px;
    padding-right: 0px;
}
