<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Azen Portal</title>
    <link rel="manifest" href="~/azenportal/build/manifest.json" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

</head>
<body>

    <main>

        @RenderBody()
    </main>

    <script crossorigin src="https://unpkg.com/react/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom/umd/react-dom.development.js"></script>
    <script src="~/azenportal/build/static/js/main.67777bae.chunk.js"></script>

</body>
</html>
