@model Azen.API.Sockets.Domain.Command.ZCommandDTO

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>ZCommandDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tkna" class="control-label"></label>
                <input asp-for="Tkna" class="form-control" />
                <span asp-validation-for="Tkna" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tkns" class="control-label"></label>
                <input asp-for="Tkns" class="form-control" />
                <span asp-validation-for="Tkns" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAplication" class="control-label"></label>
                <input asp-for="IdAplication" class="form-control" />
                <span asp-validation-for="IdAplication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Port" class="control-label"></label>
                <input asp-for="Port" class="form-control" />
                <span asp-validation-for="Port" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Buffer" class="control-label"></label>
                <input asp-for="Buffer" class="form-control" />
                <span asp-validation-for="Buffer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Log" class="control-label"></label>
                <input asp-for="Log" class="form-control" />
                <span asp-validation-for="Log" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cmd" class="control-label"></label>
                <input asp-for="Cmd" class="form-control" />
                <span asp-validation-for="Cmd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opcion" class="control-label"></label>
                <input asp-for="Opcion" class="form-control" />
                <span asp-validation-for="Opcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

